%no {
  @include font-title;

  span:first-child {
    display: inline-block;
    font-size: 24px;
    margin-right: 6px;
    border-bottom: 1px solid $black;
  }

  span {
    font-size: 9px;
  }
}

%link {
  &:after {
    position: absolute;
    top: 40px;
    left: 0;
    border-bottom: 2px solid $black;
    width: 15px;
    height: 2px;
    display: block;
    content: '';
    transition: all 0.3s ease-in-out;
  }

  &:hover:after {
    width: 20px;
  }
}

%side-title {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 113px;
  z-index: 99;
  @include media(M) {
    right: 63px;
  }
  @include media(S) {
    right: 53px;
  }

  h2 {
    @include font-tiny;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    position: relative;

    &:after {
      position: absolute;
      bottom: -50px;
      left: 8px;
      border-left: 1px solid $black;
      width: 1px;
      height: 30px;
      display: block;
      content: '';
    }
  }
}
