@import 'styles/config';

.burger {
  svg {
    display: block;
    position: fixed;
    z-index: 200;
    top: 100px;
    right: 100px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    mix-blend-mode: difference;
    fill: none;
    stroke: #ffffff;
    @include media(M) {
      top: 50px;
      right: 50px;
    }
    @include media(S) {
      top: 40px;
      right: 40px;
      width: 40px;
      height: 40px;
    }

    &:hover > .burger-line:not(.burger-active) {
      transition: transform 0.9s cubic-bezier(0.83, 0, 0.17, 1);
      transform: rotate(-10deg) translateZ(0);
      transform-origin: 40% 50%;
    }
  }

  .burger-circle {
    stroke-width: 2.2;
  }

  .burger-line {
    transition: transform 0.9s cubic-bezier(0.83, 0, 0.17, 1);
    transform: rotate(0deg) translateZ(0);
    transform-origin: 40% 50%;
  }

  .burger-active {
    transition: transform 0.9s cubic-bezier(0.83, 0, 0.17, 1);
    transform: rotate(-90deg) translateZ(0);
  }
}

.menu {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100%;
  color: $white;
  background: $black;

  &--default {
    visibility: hidden;
    height: 0;
  }

  &--open {
    top: 0;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &--close {
    bottom: 0;
    height: 0;
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1) 0.5s;
  }
}

.nav {
  @include grid(2, (minmax(80vh, auto) auto 100px 200px auto));
  position: relative;
  min-height: 100vh;

  &--open {
    transition: all 0.9s cubic-bezier(0.83, 0, 0.17, 1) 0.25s;
    opacity: 1;
  }

  &--close {
    transition: all 0.9s ease-out;
    opacity: 0;
  }

  &__works {
    grid-row: 1;
    grid-column: 1 / 2;
    align-self: center;
    text-align: right;
    transform: translateX(3px);
    background: $black;

    nav {
      li {
        padding: 10px 0;
      }

      a {
        @include font-nav;
        color: $white;

        span {
          @include font-small;
          font-size: 4px;
          letter-spacing: 3px;
        }
      }
    }

    @include media(M) {
      grid-column: 1 / -1;
      text-align: center;
      nav {
        li {
          padding: 15px;
        }

        span {
          display: block;
        }
      }
    }
  }

  &__info {
    grid-row: 2;
    grid-column: 2 / -1;
    align-self: center;
    text-align: justify;
    max-width: 400px;
    transform: translateX(-1px);
    background: $black;

    p {
      @include font-normal;
      padding: 25px 0;

      a {
        color: $white;
        font-weight: bold;
      }
    }

    @include media(M) {
      grid-column: 1 / -1;
      justify-self: center;
      p {
        padding: 25px;
      }
    }
  }

  &__stack__title {
    grid-row: 3;
    grid-column: 1 / 2;
    align-self: center;
    z-index: 11;
    text-align: right;
    padding: 10px 0;
    transform: translateX(1px);
    background: $black;
    @include media(M) {
      grid-column: 1 / -1;
      text-align: center;
    }

    h2 {
      @include font-title;
    }
  }

  &__stack__tech {
    grid-row: 4;
    grid-column: 2 / -1;
    align-self: center;
    max-width: 400px;
    padding-bottom: 50px;
    transform: translateX(-1px);

    p {
      padding: 25px 0;
      @include font-normal;
      background: $black;

      span {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    @include media(M) {
      grid-column: 1 / -1;
      justify-self: center;
      text-align: center;
      p {
        padding: 25px;
      }
    }
  }

  &__gatsby {
    grid-row: 5;
    grid-column: 1 / -1;
    z-index: 2;
    @include font-normal;

    a {
      font-weight: bold;
      color: $white;
    }

    p {
      background: $black;
      text-align: center;
      padding: 50px;
    }
  }
}

.line {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  fill: none;
  stroke: #fff;
  stroke-width: 0.4;

  svg {
    width: 100%;
    height: 100%;
  }
}
